.labelPattern {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.testCreateTitle {
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    font-size: 20px;
}

.selectPattern {
    background: #F2F2F2;
    border: 2px solid #A5A5A5;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: #535353;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
}

.testName {
    display: flex;
    width: 350px;
    margin-bottom: 20px;
}

.testName input {
    color: #535353;
    border: 2px solid #A5A5A5;
    border-radius: 8px;
    background: #F2F2F2;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    padding: 8px;
}

.questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.questionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.questionTitleLabel input {
    margin-left: 10px;
    padding: 6px 10px;
    width: 300px;
    border-radius: 8px;
    color: #535353;
    border: 2px solid #A5A5A5;
    background: #F2F2F2;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
}

.questionCost {
    width: 75px;
    margin-left: 20px;
}

.questionCost input {
    border-radius: 8px;
    border: 2px solid #A5A5A5;
    background: #F2F2F2;
    color: #535353;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    padding: 6px 10px;
}

.questionType select {
    background: #F2F2F2;
    border: 2px solid #A5A5A5;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
    color: #535353;
    height: 40px;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    margin-left: 10px;
}

.questionOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.btnDelOption {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.btnDelOption:hover {
    background: none;
}

.basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
}

.questionOptionTitle {
    max-width: 550px;
    height: 36px;
    background: #F2F2F2;
    color: #535353;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    border: 2px solid #A5A5A5;
    border-radius: 8px;
    padding: 6px 10px;
}

.isTrue {
    display: flex;
    align-items: center;
}

.isTrue input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}

.isTrue input:checked {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.isTrue input:checked::before {
    content: '\2713';
    font-size: 16px;
    color: #fff;
    position: relative;
    top: -4px;
    left: 3px;
}

.btnAddOption {
    border-radius: 8px;
    background: #799BC0;
    width: 220px;
    height: 40px;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btnAddOption:hover {
    background: #6687a8;
}

.btnDelQuestion {
    width: 150px;
    background: #fff;
    color: #535353;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    border: 2px solid #A5A5A5;
    border-radius: 8px;
}

.btnDelQuestion:hover {
    background: #EAEAEA;
}

.btnAddQuestion {
    background: #F2F2F2;
    border-radius: 8px;
    width: 220px;
    height: 40px;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    color: #535353;
    cursor: pointer;
    border: 2px solid #A5A5A5;
}

.btnAddQuestion:hover {
    background: #EAEAEA;
}

.btnCreateTest {
    background: #F2F2F2;
    border-radius: 8px;
    margin-top: 20px;
    width: 420px;
    height: 40px;
    font-family: 'BMWGroupTNTT-Regular', sans-serif;
    color: #535353;
    cursor: pointer;
    border: 2px solid #A5A5A5;
}

.btnCreateTest:hover {
    background: #EAEAEA;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}